.mainContainer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}
.mainContainer>.view {
    margin-top: 1.767rem;
}
.mainContainer.withView-nav>.view {
    margin-top: 4.67rem;
}
.mainContainer .view.timelineIndexView {
    margin-top: 5.17rem;
}

.listHeader {
    padding: 1.3rem 1rem;
    border-bottom: 1px solid hsla(0,0%,59.2%,.1);
}

/* 中间 */
.timelineContainer {
    margin-top: 0;
}
.timelineContent {
    position: relative;
    /*margin-top: .33rem;*/
}
.timelineEntryList {
    margin-right: 21.667rem;
    border-radius: 2px;
    width: 700px;
}
.entryListContainer {
    background-color: #fff;
}



@media (max-width: 960px) {
    .tagList {
        padding-left: 2rem;
    }
    .timelineEntryList {
        width: 100%;
    }
    .viewNav .navList .navItem:first-child {
        padding-left: 2rem;
    }
    .viewNav .navItem:first-child, .navList .navItem:last-child {
        padding: 0 1.5rem;
    }
}