/* 标签目录 */
.mainTagList {
    transition: all .2s;
    transform: translate3d(0,-100%,0);
}
.tagList {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.navList .navItem.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    font-size: 1.1rem;
    color: #8a9aa9;
    padding: 0 .83rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.navItem.tag.active {
    background-color: #007fff;
    color: #fff !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 5%);
}
.navItem.tag.active>a {
    color: #fff;
}
.visible {
    transform: translateZ(0);
}

@media (max-width: 960px) {
    .tagList {
        padding-left: 2rem;
    }
}
