.mainHeaderBox {
    position: relative;
    height: 5rem;
}
.mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s;
    transform: translate3d(0,-100%,0);
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
    height: 5rem;
    z-index: 250;
}
.mainHeader.visible {
    transform: translateZ(0);
}

.mainHeader .container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}
.tablead {
    position: absolute;
    top: 5px;
    left: 25px;
    z-index: 9;
    white-space: nowrap;
    padding: 2px 7px;
    background-color: #ee502f;
    border-radius: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    transform: scale(.5);
    line-height: 18px;
    color: #fff;
}

/*logo*/
.logo {
    margin-right: 1.7rem;
}
.logoImg {
    display: block;
    width: 126px;
    height: 22px;
}
.mobile {
    display: none;
    width: 31px;
}

/*导航*/
.mainNav {
    height: 100%;
    flex: 1 0 auto;
}
.navList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    margin: 0;
}
.mainNavList {
    display: flex;
}
.phoneHide {
    display: flex;
}
.navItem {
    color: #86909c;
    padding: 0 1rem;
    font-size: 1.167rem;
    margin: 0;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.navItem.linkItem {
    padding: 0;
    height: 5rem;
}
.navItem.linkItem a:hover {
    color: black !important;
}
.navItem a {
    color: #86909c;
    position: relative;
}
.navItem.active>.icon, .navItem.active>a {
    color: #1e80ff;
    font-weight: 500;
}
.phoneHide .navItem.linkItem a:not(.no-hover) {
    display: inline-block;
    height: 5rem;
    margin: 0 1rem;
    line-height: 5rem;
}
.navItem a {
    color: #515767;
    position: relative;
}
.navItem>a:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.phoneHide .navItem.linkItem a:not(.no-hover):hover:not(.no-border):before {
    content: "";
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #1e80ff;
}

.rightSideNav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    margin: 0;
    order: 0;
}

/*搜索*/
.searchAdd {
    flex: 1 1 auto;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
}
@media screen and (min-width: 1351px) {
    .searchAddUl {
        width: 42.833rem;
    }
}
@media (max-width: 799px) {
    .searchAdd {
        justify-content: flex-start;
        margin-left: 1rem;
    }
}
.searchAddUl {
    display: flex;
    justify-content: flex-start;
}
.navItem.search {
    cursor: auto;
    padding-left: 0;
}
.searchForm {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    position: relative;
    height: 2.834rem;
    border: 1px solid #c2c8d1;
    transition: width .2s;
}
@media screen and (min-width: 1351px) {
    .searchForm {
        width: 360px;
    }
}
@media (max-width: 799px) {
    .searchForm {
        width: 200px;
    }
}
.searchForm .searchInput {
    border: none;
    width: calc(100% - 44px);
    padding: 0.6rem 0 0.6rem 1rem;
    box-shadow: none;
    outline: none;
    font-size: 1.1rem;
    color: #8a919f;
    background-color: transparent;
    transition: width .3s;
}
.searchForm.active {
    border: 1px solid #1e80ff;
}

.searchForm .searchInput::-webkit-input-placeholder { /* WebKit browsers */
    color: #d2d2d2;
}
.searchForm .searchInput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #d2d2d2;
}
.searchForm .searchInput::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #d2d2d2;
}
.searchForm .searchInput:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #d2d2d2;
}
.searchForm .searchInput.active {
    width: 31rem;
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
.searchIconContainer {
    position: relative;
    left: -2px;
    width: 44px;
    height: 30px;
    background: #f2f3f5;
    border-radius: 2px;
}
.searchForm .searchIcon {
    display: inline-block;
    width: 1.33rem;
    padding: 0 0.8333rem 0 0;
    cursor: pointer;
    margin: 7px 15px;
}
.creatorItem.hide {
    overflow: hidden !important;
}
.navItem.add {
    cursor: default;
    width: 25rem;
    transition: width .3s;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}
.navItem.add.creatorItem {
    overflow: visible;
    width: 11rem;
    padding-left: 5px;
}
@media (max-width: 799px) {
    .navItem.add {
        display: none;
    }
}
.addGroup {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 115px;
    height: 3rem;
}
.addBtn {
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    font-size: 1.167rem;
    transition: background-color .1s linear .05s;
    border-radius: 3px;
}
.auth {
    color: #007fff;
    padding: 0 0 0 0.833rem;
}
.login-button-wrap {
    position: relative;
}
.loginButton {background: rgba(30,128,255,.05);
    border-radius: 4px;
    padding: 0.3rem 1rem;
    color: #007fff;
    line-height: 1.9rem;
    font-size: 14px;
    font-weight: 400;
    margin-right: 2rem;
    height: 3rem;
    overflow: hidden;
}
.loginButtonInner, .loginButtonLine {
    display: inline-block;
}
.loginButtonLine {
    vertical-align: middle;
    margin: 0 6px;
    background-color: #abcdff;
    height: 12px;
    width: 1px;
}
