.mainContainer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
}
.columnView {
    padding: 0 0 8rem;
}
.mainContainer>.view {
    margin-top: 1.767rem;
}
.articleArea {
    margin-bottom: 1.5rem;
    padding: 0 2rem;
}
.mainAea {
    position: relative;
    width: 820px;
    min-height: 500px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}
.shadow {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}
.article {
    position: relative;
    margin-bottom: 3rem;
    padding: 2rem 0 0;
}
.authorInfoBlock {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.authorInfoBlock .avatarLink {
    font-size: 0;
}


.avatar {
    display: inline-block;
    position: relative;
    background-size: cover;
    background-color: #eee;
}
.avatar, .avatar.xmas:after {
    background-position: 50%;
    background-repeat: no-repeat;
}
.lazy {
    position: relative;
    -o-object-fit: cover;
    object-fit: cover;
}
.authorInfoBlock .avatar {
    flex: 0 0 auto;
    margin-right: 1rem;
    width: 3.333rem;
    height: 3.333rem;
    border-radius: 50%;
}
.authorInfoBlock .authorInfoBox {
    min-width: 0;
    flex: 1;
    height: 43px;
}
.authorInfoBlock .authorName {
    height: 22px;
}
.username {
    font-size: 1.333rem;
    font-weight: 500;
    line-height: 2rem;
    color: #252933;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.authorInfoBlock .authorName .username {
    font-size: 1.333rem;
    font-weight: 500;
    color: #515767;
    line-height: 2rem;
}

.username .name {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rank {
    margin-left: .33rem;
    vertical-align: middle;
}
.metaBox {
    font-size: 1.167rem;
    color: #8a919f;
    margin-top: 2px;
    line-height: 22px;
}
.metaBox .time {
    letter-spacing: 1px;
}
.metaBox .views-count {
    margin-left: .5em;
}
.followButton {
    margin: 0 0 0 auto;
    padding: 0;
    width: 55px;
    height: 26px;
    font-size: 13px;
    border: 1px solid #6cbd45;
    color: #6cbd45;
    background-color: #fff;
}

.articleHero {
    margin-bottom: 2rem;
    width: 100%;
}
.articleTitle {
    margin: 0 0 1.667rem;
    font-size: 2.667rem;
    font-weight: 600;
    line-height: 1.31;
    color: #252933;
}
.markdownBody {
    word-break: break-word;
    line-height: 2;
    font-weight: 400;
    font-size: 15px;
    overflow-x: hidden;
    color: #333;
}

.userItem .infoBox .username {
    display: flex;
    align-items: center;
    font-size: 1.333rem;
    font-weight: 500;
    line-height: 2rem;
    color: #252933;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userItem .infoBox {
    flex: 1 1 auto;
    min-width: 0;
    margin-left: 1.333rem;
}

/*
#### 文章主体样式 ####
*/
.markdownBody pre div:first-child {
    padding: 10px 10px !important;
}

/*
#### 作者 ####
*/
.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 25rem;
}
.sidebarBlock {
    position: relative;
    margin-bottom: 20px;
    border-radius: 2px;
}
.authorBlock {
    background: #fff;
    padding: 1.667rem;
}
.shadow {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}
.sidebarBlock:not(.pure) .block-title {
    padding: 1rem 1.3rem;
    font-size: 1.16rem;
    color: #333;
    border-bottom: 1px solid hsla(0,0%,58.8%,.1);
}
.userItem {
    padding-bottom: 1.416rem;
}
.item {
    display: flex;
    align-items: center;
}
.avatar {
    display: inline-block;
    position: relative;
    background-size: cover;
    background-color: #eee;
}
.avatar, .avatar.xmas:after {
    background-position: 50%;
    background-repeat: no-repeat;
}
.userItem .avatar {
    flex: 0 0 auto;
    width: 4.167rem;
    height: 4.167rem;
    border-radius: 50%;
}
.userItem .info-box {
    flex: 1 1 auto;
    min-width: 0;
}

.userItem .infoBox .position {
    margin-top: 4px;
    font-size: 1.167rem;
    color: #515767;
    font-weight: 400;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.myArticleItem {
    display: flex;
    align-items: center;
}
.statItem {
    margin-top: 0.667rem;
}
.statItem .content {
    font-size: 1.167rem;
    color: #252933;
    font-weight: 400;
}
.statItem .icon, .statItem .zan {
    margin-right: 1rem;
}
.cutOff {
    height: 1px;
    background: #e4e6eb;
}

/* ex */
.mainArea {
    position: relative;
    width: 700px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}
.articleSuspendedPanel {
    position: fixed;
    margin-left: -7rem;
    top: 16rem;
}
.panelBtn {
    position: relative;
    margin-bottom: .75rem;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 4%);
    cursor: pointer;
}
.panelBtn.withBadge:after {
    content: attr(badge);
    position: absolute;
    top: 0;
    left: 75%;
    padding: .1rem .4rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    color: #fff;
    background-color: #b2bac2;
    border-radius: .7rem;
    transform-origin: left top;
    transform: scale(.75);
}
.shareTitle {
    margin: 2.5rem 0 1rem;
    font-size: 1rem;
    text-align: center;
    color: #c6c6c6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dot {
    margin: 0 .5em;
}
.editBtn {
    color: #1264b6;
    cursor: pointer;
}
.articleEnd {
    padding-top: 10px;
    border-radius: 0 0 4px 4px;
    padding-bottom: 3.33rem;
}
.tagListBox {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: -12px;
}
.tagListBox .tagList:first-child:not(:last-child) {
    margin-right: 2.67rem;
    flex-shrink: 0;
}
.tagListBox .tagList {
    display: flex;
    font-size: 1.167rem;
    line-height: 2.286;
}
.tagListBox .tagList:first-child:not(:last-child) {
    margin-right: 1.42rem;
    flex-shrink: 0;
}
.tagListBox .tagList .tagListTitle {
    flex-shrink: 0;
    margin-right: 8px;
    font-size: 14px;
    color: #515767;
}

.tagListBox .tagList .item {
    display: flex;
    align-items: center;
    margin: 0 .667rem 1rem 0;
    padding: 0 .667rem;
    border-radius: 2px;
    background-color: #fafafa;
    color: #4e5969;
}
.tagListBox .tagList .tagTitle {
    white-space: nowrap;
    line-height: 2.667rem;
}
.categoryItem {
    background-color: #f2f3f5 !important;
    color: #515767 !important;
}
.tagItem {
    background-color: #eaf2ff !important;
    color: #1e80ff !important;
}
@media (max-width: 960px) {
    .mainArea {
        width: 100%;
    }
}
