.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
}

.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title, .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-paragraph > li {
    background: linear-gradient(90deg, rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
    background-size: 400% 100%;
    animation: ant-skeleton-loading 0.5s ease infinite;
}
.ant-skeleton-content .ant-skeleton-paragraph > li + li {
    margin-top: 14px;
}
.ant-skeleton-content .ant-skeleton-title + .ant-skeleton-paragraph {
    margin-top: 14px;
}
.ant-skeleton-content .ant-skeleton-title {
    width: 100%;
    height: 16px;
    margin-top: 0;
    background: rgba(190, 190, 190, 0.2);
    border-radius: 4px;
}

.ant-skeleton.ant-skeleton-active .ant-skeleton-button {
    background: linear-gradient(
            90deg
            , rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
    background-size: 400% 100%;
    animation: ant-skeleton-loading 0.5s ease infinite;
}
.ant-skeleton-element .ant-skeleton-button {
    display: inline-block;
    vertical-align: top;
    background: rgba(190, 190, 190, 0.2);
    border-radius: 2px;
    width: 64px;
    height: 32px;
    line-height: 32px;
}
.ant-skeleton-element .ant-skeleton-button-sm {
    width: 48px;
    height: 18px;
    line-height: 24px;
}
.ant-skeleton.ant-skeleton-active .ant-skeleton-avatar {
    background: linear-gradient(
            90deg
            , rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
    background-size: 400% 100%;
    animation: ant-skeleton-loading 0.5s ease infinite;
}