body {
    margin: 0 !important;
    word-break: break-word !important;
    overflow-y: scroll !important;
}

body {
    font-family: -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial !important;
    font-size: 12px !important;
    line-height: normal !important;
    background-color: #f4f5f5 !important;
}
html {
    font-size: 12px;
    font-family: -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial;
    word-break: break-word;
    text-rendering: optimizeLegibility;
    color: #333;
    background-color: #f4f5f5;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

a, button, input {
    margin: initial;
}

button, input {
    overflow: visible;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #909090;
}
a:hover {
    color: #1890ff;
}